RewriteEngine On

ErrorDocument 404 http://localhost/ciffpay/404

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^page/(.*)$ page.php?slug=$1
RewriteRule ^recipient/(.*)$ recipient.php?id=$1 [NC,L]
RewriteRule ^confirm/(.*)$ confirm.php?id=$1 [NC,L]
RewriteRule ^home/(.*)$ index.php?id=$1 [NC,L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]

